PORT=5000
NODE_ENV=development
MONGO_URI=mongodb://localhost:27017/greywater_db
JWT_SECRET=supersecret_greywater_ai_jwt_key_2026
ML_SERVICE_URL=http://localhost:8000
CLIENT_ORIGIN=http://localhost:5173
